@model Natencion.Models.EMPRESA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPRESA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUT_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUBRO_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUBRO_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIRO_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIRO_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UCR_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UCR_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CAC_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CAC_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UEL_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UEL_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCR_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCR_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEL_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEL_EMPRESA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMUNA.NOMBRE_COMUNA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMUNA.NOMBRE_COMUNA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_EMPRESA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
