@model IEnumerable<ProyectoNAtencion.Models.TIEMPO_ATENCION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIEMPO_ATENCION1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALOR_ATENCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIEMPO_ATENCION1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALOR_ATENCION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_ATENCION }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_ATENCION }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_ATENCION })
        </td>
    </tr>
}

</table>
