@model IEnumerable<ProyectoNAtencion.Models.PRIVILEGIO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE_PRIVILEGIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION_PRIVILEGIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROL.NOMBRE_ROL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE_PRIVILEGIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION_PRIVILEGIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROL.NOMBRE_ROL)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRIVILEGIO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRIVILEGIO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRIVILEGIO })
        </td>
    </tr>
}

</table>
