@model ProyectoNAtencion.Models.CLIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APPAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APPAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APMAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APMAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREGUNTASEG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREGUNTASEG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPUESTASEG1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPUESTASEG1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PREGUNTASEG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PREGUNTASEG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESPUESTASEG2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESPUESTASEG2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UCR_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UCR_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UAC_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UAC_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UEL_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UEL_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCR_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCR_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEL_CLIENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEL_CLIENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO.DESCRIPCION_ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO.DESCRIPCION_ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ROL.NOMBRE_ROL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ROL.NOMBRE_ROL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CLIENTE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
