@model ProyectoNAtencion.Models.CARGO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CARGO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_CARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_CARGO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_CARGO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
