@model Natencion.Models.REGION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>REGION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_REGION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_REGION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAIS.NOMBRE_PAIS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAIS.NOMBRE_PAIS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_REGION }) |
    @Html.ActionLink("Back to List", "Index")
</p>
