@model ProyectoNAtencion.Models.SUCURSAL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUCURSAL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HORA_TERMINO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HORA_TERMINO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LATITUD_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LATITUD_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONGITUD_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGITUD_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRECISION_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRECISION_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UCR_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UCR_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UAC_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UAC_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UEL_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UEL_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCR_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCR_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAC_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAC_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEL_SUCURSAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEL_SUCURSAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLASIFICACION.NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLASIFICACION.NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMPRESA.NOMBRE_EMPRESA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPRESA.NOMBRE_EMPRESA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SUCURSAL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
